*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: 'Lora', serif;
    --ff-secondary: 'Roboto Slab', serif;
    
    --fw-reg: 400;
    --fw-bold: 700;
    
    --color-light: #fff;
    --color-dark: #2b365e;
    --color-accent:  #2f48a2; 
    --color-accent2: #40B7E6;

    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --br: 0.5em;
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
          
    --fa-animation-duration: 1.5s;
   --fa-beat-fade-scale: 1.0525;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
}


body {
    background: var(--color-light);
    color: var(--color-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    /* min-height: 400px; */

}




/* Defualt */

button{
    cursor: pointer;
}


h1,h2,h3,h4{
    padding: 0;
    margin: 0;
}
section{
    padding: 0 46px;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Layout */
.modal{

    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 

    
    background-color: rgba(0, 0, 0, 0.562); 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#modal__customer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1em;
    padding: 1em; 

    background-color: #fefefe;

    width: 50%; 

}


header{
    background: url(./header.jfif) no-repeat;
    object-fit: cover;
    height: 167px;
    width: 100vw;
    background-position: right 60% top 70%; 
    color: white;
    margin-bottom: 50px;
} 
.menu-container{
    display: flex;
    flex-direction: column;
    
}
.content-container{
    display: flex;
}
/* Typography */

#bold{
    font-weight: bold;
}

header h1 {
    margin: 0;
    font-size: 39px;
    font-weight: 400;
    padding: 46px 0 10px 46px;
}
header p{
    margin: 0;
    padding-left: 46px;
}

.text-container h3,p,h4{
    margin: 1px;
    
}
#order-item-container{
    display: none;
}
#order-item-container h3{
    text-align: center;
}
/* Dividers */
 
hr {
    border: 1px solid #D2D2D2;
    margin: 20px 0px;
}
#menu-divider{
    border: 1px solid black;
}

/* Elements */

#emoji{      
    font-size: 80px; 
    margin-left:  -20px;  
}

.order-items{
    display: flex;
    
}
#order-price, 
#total-price {
    margin-left: auto;
    align-self: center;
}

/* Buttons */

.primary-btn{
    color: white;
    background-color:#16DB99;
    border: none;
    padding: 1em 0;
    width: 100%;
    margin-top: 2em; 
    border-radius: 4px;
}

.secondary-btn{
    color: white;
    background-color:#db331675;
    border: none;
    padding: 1em 0;
    width: 100%;
    border-radius: 4px;
}
.modal__back-btn{
    width: auto;
    align-self: self-start;

    padding: 1em 1.5em;
}

#plus-btn{
    padding: 10px 15px;
    align-self: center;
    margin-left: auto; 

    border: 1px solid #D2D2D2;
    border-radius: 50%;
    background-color: white;
}
#remove-btn{
    border: none;
    background-color: white;
    font-size: 10px;
    color: #D2D2D2;
    padding: 0;    
    margin-left: 10px;
}

